<%- include("Partials/header") -%>
    <link rel="stylesheet" href="css/about.css">
    <h1 class="coreTeam">Core Team Members</h1>
    <ol class="container">
        <li class="teamMember"><a href="https://www.linkedin.com/in/nithin-yanamaddi-2067b3200">Nithin - IIITL 2020</a></li>
        <li class="teamMember"><a href="www.linkedin.com/in/nunna-shyam-praveen-667308201">Shyam - IIITL 2020</a></li>
        <li class="teamMember"><a href="https://www.linkedin.com/in/rohan-j-4b71b5178">Rohan - IIITL 2020</a></li>
        <li class="teamMember"><a href="https://www.linkedin.com/in/sravan-kumar-bokka-55b2b6201">Sravan - IIITL 2020</a></li>
        <li class="teamMember"><a href="https://www.linkedin.com/in/harivara-prasad-441567214">Harivaraprasad - IIITL 2020</a></li>
    </ol>
<%- include("Partials/footer") -%>